<!doctype html>
<html>
  <head>
    <title>Yes, this is RESTdoge</title>
    <link rel="stylesheet" href="/css/joke.css" type="text/css" media="screen">
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to joke_api!</h1>
      <a href="/categories/create">Create category</a><br>
      <a href="/categories/">Show categories</a><br>
      <a href="/jokes/create">Create joke</a><br>
      <a href="/jokes/">Show all jokes</a><br>
      <a href="/jokes/random">Show random joke</a><br>
    </div>
  </body>
</html>